################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/asp.net-simple-onlineshop/bin/Debug/netcoreapp3.1
/asp.net-simple-onlineshop/obj
